<span class="p-link name-link" (click)="userDetail.toggle($event)">
  {{user.fullName}}
</span>

<p-overlayPanel #userDetail appendTo="body">
  <ng-template pTemplate>
    <div class="p-grid w-min">
      <div class="p-col-12">
        <span class="p-col-4 p-text-bold">Name:</span>
        <span class="p-col-8">{{user.fullName}}</span>
      </div>
      <div class="p-col-12">
        <span class="p-col-4 p-text-bold">Email:</span>
        <span class="p-col-8">{{user.email}}</span>
      </div>
    </div>
  </ng-template>
</p-overlayPanel>
