<p-menubar [model]="items" *ngIf="userAuthenticated"></p-menubar>

<app-popup-window header="Add repository" [isVisible]="showRepositoryModal">
  <app-repository-edit (created)="showRepositoryModal = false"></app-repository-edit>
</app-popup-window>

<app-popup-window header="Create release" [isVisible]="showReleaseModal">
  <app-new-release></app-new-release>
</app-popup-window>
