<form [formGroup]="repositoryForm">
  <div class="p-float-label mt-3">
    <input type="text"
           id="name-input"
           [style]="{width: '100%'}"
           pInputText formControlName="name">
    <label for="name-input">Name</label>
  </div>

  <div class="mt-3">
      <p-dropdown formControlName="owner"
                  [disabled]="isNew"
                  [style]="{width: '100%'}"
                  [options]="users"
                  optionLabel="fullName"
                  [placeholder]="repoOwner.fullName"></p-dropdown>
  </div>

  <div class="mt-3">
      <textarea pInputTextarea
                cols="30"
                rows="6"
                placeholder="What will this repository contain?"
                formControlName="description"></textarea>
  </div>

  <div class="row mt-4">
    <button pButton
            type="button"
            [disabled]="repositoryForm.invalid"
            (click)="onAddRepository()"
            label="Add"
            icon="pi pi-fw pi-plus"
            iconPos="left"
            *ngIf="isNew"
            class="p-button-success col-10 offset-1"></button>

    <button pButton
            type="button"
            (click)="onDeleteRepository()"
            label="Delete repository"
            icon="pi pi-fw pi-trash"
            iconPos="left"
            *ngIf="!isNew"
            class="p-button-danger col-10 offset-1"></button>

    <button pButton
            type="button"
            [disabled]="repositoryForm.invalid"
            (click)="onUpdateRepository()"
            label="Save"
            icon="pi pi-fw pi-save"
            iconPos="left"
            *ngIf="!isNew"
            class="p-button-warning col-10 offset-1"></button>
  </div>
</form>
