.spinner-wrapper
  width: 100%
  height: 100%
  position: fixed
  display: flex
  justify-content: center
  align-items: center
  top: 0
  left: 0
  background-color: #ffffff
  opacity: 50%
  z-index: 10000
