<div class="col-4 offset-4">
  <p-card header="Log in" [style]="{width: '360px'}" styleClass="p-card-shadow">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-fluid p-p-3">
      <div class="p-field mb-2">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-envelope"></i>
            </span>
          <span class="p-float-label">
            <input type="email"
                   id="email"
                   formControlName="email"
                   pInputText>
            <label for="email">Email</label>
        </span>
        </div>
      </div>
      <div class="p-field">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-lock"></i>
            </span>
          <span class="p-float-label">
            <input type="password"
                   id="password"
                   formControlName="password"
                   pInputText>
            <label for="password">Password</label>
        </span>
        </div>
      </div>
    </form>

    <ng-template pTemplate="footer">
      <div class="row p-3 pt-0">
          <button pButton
                  label="Log in"
                  icon="pi pi-check"
                  class="mb-3"
                  type="submit"
                  (click)="onSubmit()"
                  [disabled]="loginForm.invalid">
          </button>
          <button pButton
                  label="Sign Up"
                  routerLink="/signup"
                  icon="pi pi-sign-in"
                  class="p-button-secondary">
          </button>
      </div>
    </ng-template>
  </p-card>
</div>
