<div class="p-d-flex p-flex-column" *ngIf="repo?.id">
  <div class="p-d-flex p-flex-row p-m-2">
    <header class="p-col-12" *ngIf="showName">
      <h2>
        {{repo.name}}
      </h2>
    </header>
  </div>

  <div class="p-d-flex p-flex-row p-justify-even p-ac-start p-mb-4" *ngIf="showActions">
    <button pButton
            [routerLink]="['edit', repo.id]"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-outlined p-button-success"></button>
    <button pButton
            icon="pi pi-cloud-download"
            class="p-button-rounded p-button-outlined"></button>
    <button pButton
            icon="pi pi-trash"
            class="p-button-rounded p-button-outlined p-button-danger"></button>
  </div>

  <div class="p-d-flex p-flex-row p-m-2">
    <div class="p-text-bold">
      Owner:
    </div>
    <div class="p-ml-3">
      <app-user [userId]="repo.owner"></app-user>
    </div>
  </div>

  <div class="p-d-flex p-flex-row p-m-2">
    <div class="p-text-bold">
      Last release:
    </div>
    <div class="p-ml-3">
      {{repo.lastRelease || '__never__'}}
    </div>
  </div>

  <div class="p-d-flex p-flex-row p-m-2">
    <div class="p-text-bold">
      Description:
    </div>
    <div class="p-ml-3">
      {{repo.description}}
    </div>
  </div>
</div>

<app-static-alert *ngIf="!repo"
           severity="error"
           content="Repository not found!">
</app-static-alert>
