<div class="col-4 offset-4">
  <p-card header="Sign up" [style]="{width: '360px'}" styleClass="p-card-shadow">

    <form [formGroup]="signupForm" (ngSubmit)="validateForm()" class="p-fluid p-p-3">
      <div class="p-field mb-2">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-tag"></i>
            </span>
          <span class="p-float-label">
            <input type="text"
                   id="fullName"
                   required
                   formControlName="fullName"
                   pInputText>
            <label for="fullName">Full name</label>
        </span>
        </div>
      </div>
      <div class="p-field mb-2">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-envelope"></i>
            </span>
          <span class="p-float-label">
            <input type="email"
                   id="email"
                   required
                   formControlName="email"
                   pInputText>
            <label for="email">Email</label>
        </span>
        </div>
      </div>
      <div class="p-field">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-lock"></i>
            </span>
          <span class="p-float-label">
            <input type="password"
                   id="password"
                   required
                   formControlName="password"
                   pInputText>
            <label for="password">Password</label>
        </span>
        </div>
      </div>
    </form>

    <ng-template pTemplate="footer">
      <div class="row p-3 pt-0">
        <button pButton
                label="Sign up"
                class="p-button-success mb-3"
                icon="pi pi-user-plus"
                [disabled]="!signupForm.valid"
                (click)="validateForm()">
        </button>
        <button pButton
                class="p-button-secondary"
                icon="pi pi-sign-in"
                routerLink="/login"
                label="Log in instead">
        </button>
      </div>
    </ng-template>
  </p-card>
</div>
