<div class="container-fluid">
  <div class="row">
    <app-navigation-bar></app-navigation-bar>
  </div>
  <div class="row">
    <div class="col-8 offset-2 mt-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
