<app-static-alert *ngIf="repositoryList.length == 0"
                  severity="warn"
                  content="No repositories found">
</app-static-alert>

<div class="row">
  <div *ngFor="let repo of repositoryList">
    <!-- TODO all cards sizes should be equal -->
    <p-card header="{{repo.name}}" [style]="{'width': '15em', 'margin': '.5em'}">
      <div class="container">
        <div class="row">
          <div class="col">
            <app-user [userId]="repo.owner"></app-user>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4 offset-4">
            <button type="button"
                    pButton
                    (click)="showDetail(repo.id, repo.name)"
                    class="p-button-rounded p-button-outlined"
                    icon="pi pi-search"
                    iconPos="left"
                    label="Detail"></button>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>

<p-dialog header="{{detailName}}"
          [resizable]="false"
          [responsive]="true"
          [draggable]="true"
          [(visible)]="detailVisible"
          (onHide)="resetDetail()"
          position="top"
          [style]="{'width': '20em'}">
  <app-repository-detail *ngIf="detailId"
                         [id]="detailId"
                         [showName]="false"
                         [showActions]="true"></app-repository-detail>
</p-dialog>
