<p-dialog [header]="header"
          [modal]="true"
          appendTo="body"
          [resizable]="false"
          [draggable]="false"
          [(visible)]="isVisible"
          [style]="{'min-width': 'fit-content'}">
  <div class="container">
    <ng-content></ng-content>
  </div>
</p-dialog>
